main {	
  padding: 1em;
  max-width: 600px;
  margin: 0 auto;
}

table {
  width: 100%;
}

table th {
  text-align: left;
  padding: 5px;
}

th {
  border-bottom: 1px solid #ccc;
}

td {
  text-align: left;
  padding: 5px;
  line-height: 24px
}

td.control {
  width: 40px;
}